.navigation-group {
    display: flex;
    align-items: center;
    gap: 40px;
}

.ant-menu-dark li {
    line-height: 50px !important;
    height: 50px !important;
    border-radius: 8px !important;
}