.dashboard-wrapper {
    background-color: #d3d3d396;
    padding: 30px 50px;
    .page-header-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}